.date-popup {
  position: absolute;
  width: 340px;
  min-height: 20px;
  margin-top: 12px;
  transform-origin: center bottom;
  z-index: 2001;
  color: #606266;
  border: 1px solid #e4e7ed;
  box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
  background: #fff;
  border-radius: 4px;
}
