@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('./iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 24px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  width: 30px;
  height: 100%;
  right: 0;
  top: 4px;
  text-align: center;
  /*color: #bfcbd9;*/
  transition: all .3s;
}

.icon-arrow-double-left:before {
  content: "\e665";
}

.icon-arrow-double-right:before {
  content: "\e666";
}

.icon-close:before {
  content: "\e668";
}

.icon-calendar:before {
  content: "\e667";
}

.icon-arrow-left-bold:before {
  content: "\e685";
}

.icon-arrow-right-bold:before {
  content: "\e687";
}

.calendar-show:hover .icon-close {
  display: inline-flex;
  cursor: pointer;
}

.calendar-show:hover .icon-calendar {
  display: none;
}

.icon-close {
  display: none;
}
