@font-face {
  font-family: "iconfont";
  src: url('./iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  width: 30px;
  height: 100%;
  right: 0;
  top: 4px;
  text-align: center;
  transition: all .3s;
}

.icons {
  font-size: 24px;
}

.icon-close:before {
  content: "\e668";
}

.icon-calendar:before {
  content: "\e667";
}

.icon-arrow-double-left:before {
  content: "\e665";
  position: absolute;
  right: 275px;
}

.icon-arrow-left-bold:before {
  content: "\e685";
  position: absolute;
  right: 250px;
}

.icon-arrow-right-bold:before {
  content: "\e687";
  position: absolute;
  right: 50px;
}

.icon-arrow-double-right:before {
  content: "\e666";
  position: absolute;
  right: 25px;
}

.icon-arrow-double-left:hover,
.icon-arrow-double-right:hover,
.icon-arrow-left-bold:hover,
.icon-arrow-right-bold:hover{
  color: #409eff;
}

.calendar-show:hover .icon-close {
  display: inline-flex;
}

.calendar-show:hover .icon-calendar {
  display: none;
}

.icon-close {
  display: none;
}
